@model HitExercise.Models.Supplier



<form method="post" asp-action="Edit" style="max-width:400px;">
    <input type="hidden" asp-for="SupplierId" class="editId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name"  type="text" class="editName form-control disable-on-inactive" value="@Model.Name" placeholder="3-80 χαρακτήρες" minlength="3" maxlength="80" required />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="catalog__select form-control" id="category" required>
            <option value="@Model.CountryId" id="editedCat">ΕΠΙΛΕΞΤΕ</option>
       

        </select>
    </div>
    <div class="form-group">
        <label asp-for="Afm"></label>
        <input asp-for="Afm" type="text" class="editAfm form-control disable-on-inactive" value="@Model.Afm" placeholder="9 ψηφία" pattern="[0-9]{9}" title="Παρακαλώ εισάγετε 9-ψήφιο αριθμο!" required />
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" type="text" class="editAddress form-control" value="@Model.Address" placeholder="5-100 χαρακτήρες" minlength="5" maxlength="100" />
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" type="text" class="editPhone form-control" value="@Model.Phone" placeholder="10 ψηφία" pattern="[0-9]{10}" title="Παρακαλώ εισάγετε 10-ψήφιο αριθμο!" required />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" class="editEmail form-control" value="@Model.Email" placeholder="5-50 χαρακτήρες" required />
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" class="catalog__select form-control" id="country" required>
            <option value="@Model.CountryId" id="editedCou">ΕΠΙΛΕΞΤΕ</option>
        </select>
    </div>

    <div class="radio-container">
        <label for="active">Ενεργός</label>
        <input asp-for="IsActive" type="radio" id="active" value="true" checked />

        <label for="inactive">Ανενεργός</label>
        <input asp-for="IsActive" type="radio" id="inactive" value="false" />
    </div>
    <br />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <p>Τα πεδία με * είναι υποχρεωτικά</p>
    <input type="submit" class="btn btn-info save-btn" value="ΑΠΟΘΗΚΕΥΣΗ" />
    <a class="btn btn-danger cancel-btn" asp-controller="Home" asp-action="Index">ΑΚΥΡΩΣΗ</a>

</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/js/DisableInactive.js"></script>
<script type="text/javascript" src="~/js/RenderCategories.js" ></script>
<script type="text/javascript" src="~/js/RenderCountries.js" ></script>

 @*Renders the edited Category*@ 
<script type="text/javascript">
    $(document).ready(function () {

        var settings = {
            "url": "https://localhost:44327/api/Category/@Model.CategoryId",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {

            let name = response.name;
            $('#editedCat').text(name);

        });
    });
</script>

@*Renders the edited Country*@
<script type="text/javascript">
    $(document).ready(function () {

        var settings = {
            "url": "https://localhost:44327/api/Country/@Model.CountryId",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {

            let name = response.name;
            $('#editedCou').text(name);

        });
    });
</script>