@model IEnumerable<HitExercise.Models.Supplier>


    <style>
        th, td {
            text-align: center;
        }
        .filters, .searching{
            display:flex;
        }

        
    </style>

    <br />
    <a asp-controller="Home" asp-action="Create" class="btn btn-info">+ ΠΡΟΣΘΗΚΗ ΠΡΟΜΗΘΕΥΤΗ</a>
    <br />
    <br />
    <h5>Φίλτρα</h5>
    <div class="filters">
        <div class="container">
            <div>
                <form method="get" asp-action="SuppliersByCategory">
                    <label for="CategoryId">Εμφάνιση ανά Κατηγορία:</label>
                    <select  id="category" name="CategoryId"  required>
                        <option value="">EΠΙΛΕΞΤΕ</option>
                    </select>
                    <input type="submit" value="Αναζήτηση"/> 
                </form>
            </div>
            <div>
                <form method="get" asp-action="SuppliersByCountry">
                    <label for="CountryId">Εμφάνιση ανά Χώρα:</label>
                    <select  id="country" name="CountryId"  required>
                        <option value="">EΠΙΛΕΞΤΕ</option>
                    </select>
                    <input type="submit" value="Αναζήτηση"/> 
                </form>
            </div>
            <div>
                <label for="noFilter">Χωρίς Φιλτρα:</label>
                <a asp-controller="Home" asp-action="Index" id="noFilter" class="btn btn-outline-dark">Εμφάνιση Όλων</a>
            </div>       
        </div>
        <div >
            <form method="get" asp-action="SuppliersBySearching">
                <div class="searching">
                    <input type="text" name="searchingString" />
                    <input type="submit" value="Αναζήτηση"/> 
                </div>
                
            </form>
        </div>
    </div>
   
    <br />

    <h3>ΠΡΟΜΗΘΕΥΤΕΣ</h3>
    <!-- Table Start -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ΟΝΟΜΑΣΙΑ</th>
                <th>ΚΑΤΗΓΟΡΙΑ</th>
                <th>ΑΦΜ</th>
                <th>ΔΙΕΥΘΥΝΣΗ</th>
                <th>ΤΗΛΕΦΩΝΟ</th>
                <th>ΕΜAIL</th>
                <th>ΧΩΡΑ</th>
                <th>ΚΑΤΑΣΤΑΣΗ</th>
                <th>ΕΝΕΡΓΕΙΕΣ</th>
            </tr>
        </thead>
        @if (Model == null || !Model.Any())
        {
            <h5>Δεν βρεθηκαν αποτελέσματα</h5>
        }
        else
        {
             <tbody>
                     @foreach (var supplier in Model)
                    {
                        <tr>
                            <td>@supplier.Name</td>
                            <td>@supplier.Category.Name</td>
                            <td>@supplier.Afm</td>
                            <td>@supplier.Address</td>
                            <td>@supplier.Phone</td>
                            <td>@supplier.Email</td>
                            <td>@supplier.Country.Name</td>
                            <td>@(supplier.IsActive ? "Ενεργός" : "Ανενεργός")</td>
                            <td class="d-flex">
                                <a asp-controller="Home" asp-action="Edit" asp-route-SupplierId="@supplier.SupplierId" class="btn btn-success edit1-btn mr-2 ">ΕΠΕΞΕΡΓΑΣΙΑ</a>

                                <button class="btn btn-danger delete-btn " data-toggle="modal" data-target="#deleteModal" data-name="@supplier.Name"data-id="@supplier.SupplierId">ΔΙΑΓΡΑΦΗ</button>
                            </td>
                        </tr>
                    }
            </tbody>
        }

    </table>

    <!-- Table End -->

    <!-- Delete Modal Start -->
    <div class="modal" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">ΔΙΑΓΡΑΦΗ ΠΡΟΜΗΘΕΥΤΗ</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form  method="post"  asp-action="Delete">
                        <input type="hidden" name="SupplierId" class="deleteId" />
                        <a>Ο προμηθευτης </a>
                        <a id="supname"></a>
                        <a>Θα διαγραφεί</a><br />
                        <br />
                        <button type="submit" class="btn btn-info save-btn">ΔΙΑΓΡΑΦΗ</button>
                        <button type="button" class="btn btn-danger cancel-btn" data-dismiss="modal">ΑΚΥΡΩΣΗ</button>
                    </form>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal End -->

    @if (TempData.ContainsKey("SuccessMessage"))
    {
        <div id="successMessage" class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/SuccessMessage.js"></script>
    <script src="~/js/DeleteMessage.js"></script>
    <script src="~/js/RenderCategories.js"></script>
    <script src="~/js/RenderCountries.js"></script>
